<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1,user-scalable=yes" />
	<title><%= content_for(:title) %></title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>

<body class="<%= get_body_class %>"<%= " id=\"#{get_body_id}\"".html_safe if get_body_id  %>>
	<div class="<%= get_wrapper_class %>" id="wrapper">
		<%= render :partial => "/layouts/header" %>

		<div id="body">
			<%= render :partial => "/layouts/flash", :locals => {:flash => flash} %>
			<%= yield %>
		</div>

		<%= render :partial => "/layouts/footer" %>
	</div>
	<%= render "/layouts/ga" if Rails.env.production? %>
	<!-- layout:application -->
	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</body>
</html>